<script>
	const root = document.querySelector(":root");
	const body = document.querySelector("body");
	function dark() {
		root.classList.toggle("dark-mode");
		body.classList.toggle("back")
		document.querySelectorAll(".inverted").forEach((result) => {
			result.classList.toggle("invert")	
		})
	}
</script>
</body>
</html>
