<script>
	function dark() {
		document.documentElement.classList.toggle("dark-mode")
			document.querySelectorAll(".inverted").forEach((result) => {
			result.classList.toggle("invert")	
		})
	}
</script>
</body>
</html>
