<html>
	<head>
		<style>
			a {
				display: block;
			}
		</style>
	</head>
	<body>
<a href="/">landing page</a>
<a href="/home">Home page</a>
<a href="/profiles">profiles page</a>
<a href="/profile/5f3c88eed5405b00172f9497">profile page</a>
<a href="/new">new page</a>
<a href="/new/suggestion">new suggestion page</a>
<a href="/suggestions">suggestion page</a>
<a href="/templates">templates page</a>
<a href="/users/register">register page</a>
<a href="/users/login">login page</a>
<a href="/users/logout">logout page</a>
<a href="/edit/5f3d230ace411005e8d99cf8">edit page</a>
<a href="/profile">My Profile page</a>
<a href="/edit/[profile">Edit Profile page</a>
<a href="/photo">photo page</a>
<a href="/search">search page</a>
<a href="/files">files page</a>
<a href="/file/84689f2a2ab0125036d524f75585d3d1.png">file page</a>
<a href="/image/84689f2a2ab0125036d524f75585d3d1.png">image page</a>
<a href="/strorage">strorage page</a>
<a href="/feed">feed page</a>
<a href="/profilephoto">profile photo page</a>
<a href="/404">404 page</a>
	</body>
</html>


