<% if(!profiles) { %>
<div class="jumbotron">
  <h1 class="display-4"No Reserves Yet</h1>
  <p class="lead">NO One Has Reserved Yet When They Reserve They Will Appear Here</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Return Back</a>
</div>
} else {
<% profiles.forEach(profile => { %>
		<div class="card">
	  <div class="card-body">
		<h5 class="card-title"><%= profile.name %></h5>
		<p class="card-text"><%= profile.bio %></p>
		<a href="/profile/<%= profile._id %>" class="btn btn-primary">Go To Profile</a>
	  </div>
	</div>
	<% }) %>
	<% } %> 
